.grid{
  display: grid;
  grid-template-columns: repeat(4,100px);
  gap: 1em;
  width: fit-content;
  margin: auto;
}
.card{
   width: 100px;
   aspect-ratio: 1;
   display: grid;
   place-items: center;
   background-color: rgb(96, 168, 168);
   border-radius: 20px;
   cursor: pointer;
}