.grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(6, 100px);
  gap: 1em;
  width: fit-content;
  margin: auto;
}
.card {
  width: 100px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  background-color: rgb(96, 168, 168);
  border-radius: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 70px);
  }
  .card{
    width: 70px;
  }
}
